* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
  }

.container {
    padding: 14px 120px;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EFF5FB;
    margin-bottom: 16px;
}

.header__logo {
    width: 51px;
    margin-right: 51px;
}

.header__nav__list {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 8px;
}

.header__btn {
    padding: 14px 20px;
    margin-left: auto;
    font-size: 16px;
    font-weight: 700;
    background: #E3F5F5;
    color: #03B2A5;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.header__burger {
    display: none;
}

.header__nav__item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__nav__link {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.breadcrumb__list {
    display: flex;
    gap: 8px;
    margin-bottom: 54px;
}

.breadcrumb__item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.breadcrumb__item__link {
    font-size: 12px;
    font-weight: 400;
    color: #333333B2;
}

.main__container {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 120px;
}

.contents__page {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 228px;
}

.left__container {
    max-width: 690px;
}

.content__title {
    font-size: 48px;
    width: 700; 
    margin-bottom: 16px;
}

.content__text {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.content__separator::before {
    content: '•'; 
    margin: 0 8px; 
    color: #333;
}

.content__img {
    width: 100%;
    height: auto;
}

.content__block {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
}


.main-list {
    list-style-type: none;
    padding-left: 0px;
}

.main-list > li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px; /* Увеличиваем отступ для крупной маркеры */
    font-size: 16px; 
}

.main-list > li::before {
    content: '•';
    color: #03b2a5;
    font-size: 4em; 
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, -44%); 
}

.main-list a {
    text-decoration: underline;
    color: inherit;
    text-underline-position: under;
}

.sub-list {
    list-style-type: none; 
    font-size: 16px;
    line-height: 24px;
}


.sub-list-item:nth-child(1) {
    padding-left: 56px;
}

.sub-list-item:nth-child(2) {
    padding-left: 72px;
}

.sub-list-item:nth-child(3) {
    padding-left: 88px;
}

.sub-list li::before {
    content: ''; /* Полностью убираем маркеры у подпунктов */
}

.sub-list a {
    text-decoration: underline;
    color: inherit;
    text-underline-position: under;
}


.article__subheading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.article__paragraph {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.article__section {
    display: flex;
    flex-direction: column;  
    position: relative;
    border-radius: 16px;
    background-color: #f3f7fe;
    padding: 24px;
}
    
.article__section__paragraph {
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 8px;
}

.article__author {
    font-size: 16px;
    font-weight: bold;
}

.article__logo__item {
width: 100%;
position: absolute;
max-width: 100%;
height: 36px;
top: 24px;
left: 24px;
}


.article {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.article__header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.article__list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.article__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.article__marker-container {
    flex-shrink: 0;
    width: 24px; /* Ширина контейнера для маркера */
    display: flex;
    justify-content: center;
}

.article__marker {
    width: 12px;
    height: 12px;
    background-color: #00A99D;
    border-radius: 50%;
    margin-top: 6px; /* Позиционируем точку по центру первой строки */
}

.article__text {
    margin: 0;
    padding-left: 10px; /* Отступ между маркером и текстом */
}

.mitte__articles {
    margin-bottom: 24px;
}
.article__image-container {
    margin-bottom: 20px;   
}

.article__img {
    width: 100%;
    height: auto;
    
}

.article__caption {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.article__footer {
    font-size: 16px;
    color: #333;
}

.quote {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 168px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 24px;
}

.quote__text {
    position: absolute;
    top: 24px;
    left: 102px;
    line-height: 24px;
    display: inline-block;
    width: 485px;
}

.vector-icon {
    position: absolute;
    top: calc(50% - 84px);
    left: calc(50% - 120px);
    width: 240px;
    height: 168px;
    z-index: -1;
}


.articles__intro {
    font-size: 16px;
    margin-bottom: 24px;
}
    
.articles__cont {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 20px;
}
    
.article__image-container {
    flex: 1 1 300px;
}
    
.article__image {
    width: 100%;
    height: auto;
}
    
.article__text {
    flex: 2 1 400px;
    font-size: 16px;
}
    
.article__paragraph {
    margin: 0 0 5px 0;
}
    
.article__footer {
    font-size: 18px;
    margin-top: 20px;
}

    
.layout__vertical {
    border-radius: 16px;
    background-color: #fefaec;
}

.layout__vertical__title {
    font-size: 16px;
    margin-bottom: 8px;
}

.article__footer {
    font-size: 16px;
}

.layout__vertical1 {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.layout__vertical1__p {
    font-weight: 500;
    line-height: 24px;
}
    
.divider__logo {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
}

.layout__vertical2 {
    width: 100%;
    position: relative;
    border-radius: 16px;
    background-color: rgba(3, 178, 165, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
        justify-content: flex-start;
    padding: 24px;
    box-sizing: border-box;
    gap: 8px;
    text-align: left;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.layout__vertical2__title {
    position: relative;
    line-height: 24px;
}

.layout__vertical2__p {
    width: 642px;
    position: relative;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
} 

.links-container {
    font-size: 14px;
    color: #2963a3; 
    display: flex;
    flex-wrap: wrap; 
    gap: 8px; 
}
.links-container span {
    display: flex;
    align-items: center;
}
.links-container a {
    text-decoration: none;
    color: inherit;
}
.links__container__item::after {
    content: '·';
    margin-left: 8px;
}
.links__container__item:last-child::after {
    content: '';
    margin-left: 0;
}


.divider2__container {
    text-align: center;
    margin: 20px 0;
    margin-top: 48px;
}
.divider2__container::before {
    content: '';
    display: inline-block;
    width: 100%; 
    height: 1px;
    background-color: #DEDEDE; 
    vertical-align: middle;
}

.divider2__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

/* Стили для боковой панели */
.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;    
}



.widget {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.widget--ad {
    padding: 20px;
    background-color: #e6f0fd;
}

.widget--profile {
    padding: 20px;
}

.widget__description {
    margin: 10px 0;
    color: #555;
}

.widget__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #35b3a9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.widget__button:hover {
    background-color: #0056b3;
}

.widget__name {
    font-size: 1.2em;
    margin: 10px 0;
}

.widget__profession,
.widget__experience {
    color: #888;
    margin: 5px 0;
}

.widget__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.widget__list-item {
    margin-bottom: 5px;
}

.footer {
    background-color: #2C61A6;
    color: white;
    width: 100%;
    height: 302px;   
}

.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;    
}

.footer__links {
    display: flex;
    gap: 93px;
}

.footer__links__list {
    list-style: none;
    padding: 0;
}

.footer__links__item {
    margin-bottom: 16px;
    font-weight: 700;
}

.footer__link {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.footer__subscribe {
    max-width: 486px;
    margin-left: 91px;
}

.footer__subscribe__text {
    font-weight: 700;
    margin-bottom: 8px;
}

.footer__form {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.footer__input {
    flex: 1;
    padding: 14px 52px 14px 16px;
    border: none;
    border-radius: 4px 0 0 4px;
    width: 316px;
    height: 20px;
}

.footer__button {
    padding: 14px 20px 14px 20px;
    gap: 10px;
    border-radius: 4px;
    width: 64px;
    height: 48px;
    border: none;
    background-color: #16C8BB; 
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background-color 0.3s;
}

.footer__button:hover {
    background-color: #008C74; 
}

.footer__info {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 90px;
}

.footer__badge {
    display: flex;
    align-items: center;
}

.footer__badge__sk_logo {
    width: 100px;
    height: 50px;
}

.footer__badge__text {
    margin-left: 8px;
    height: 19px;
}

.footer__social {
    display: flex;
    gap: 16px;
}

.footer__social__link {
    width: 32px;
}

.footer__br {
    width: 80%;
    background-color: #2C61A6;
    display: flex;
    justify-content: center;
    margin-left: 120px;
}

.custom-div {
    width: 100%;
    border-top: 1px solid #4B83C3;
}

.line::before {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid #4B83C3;
}

.footer__bot__info {
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding-left: 120px;
    font-size: 14px;
    margin-top: 16px;
}


